.main-container
{
  border-radius: 2px;
  border: solid 0 #9e9e9e;
  background-color: #ffffff;
}

.main-container .title
{
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: -0.3px;
  color: #444444;
  margin-top: 5px;
}

.main-container .create-campaign-container
{	
  border: solid 1px #d2d2d2;
  background-color: #f1f1f1;
  text-align: center;
}

.create-campaign-container > button
{
	margin-top: 12px;
}


.main-container button
{
  width: 195px;
  height: 36px;
  background-color: #f57124;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  border: solid 1px #f57124;
}

th
{  
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6f6f6f;
}

th div
{
  display: flex;
}

th span
{
  font-size: 20px;
  margin-top: -3px;
  margin-left: 5px;
}

td
{  
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4c4c4c;
}

td div
{
  display: flex;
}

td
{
  cursor: pointer;
}

td span
{  
  margin-top: -4px;
  margin-right: 6px;
  color: #4fc872;
}

.ico-close
{
  color: #d0021b !important;
}

td img
{
  max-height: 30px;
  max-width: 30px;

  margin-right: 5px;
}

.title-container:hover
{
  font-weight: bold;
}

table
{
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #4f4f4f54;
}

.paginator
{
  text-align: center;
  display: flex;
}

.paginator span
{
  cursor: pointer;
}

.page-button
{
  font-size: 14px;
  width: 20px;
}

.sounds-container
{
  background-color: transparent;
  min-height: calc(100vh - 100px);
  overflow: hidden;
}

.sounds-container > .row
{
  margin-right: 0px !important;
  margin-left: 0px !important;
  align-items: flex-start;
}

.new-campaign-container
{
  border-radius: 2px;
  border: solid 0 #9e9e9e;
  background-color: #ffffff;
  display: table;
}

.campaign-progress-container
{
  border-radius: 2px;
  border: solid 0 #9e9e9e;
  background-color: #ffffff;

  border-top-width: 4px;
  border-top-color: #2a8778;
  border-top-style: solid;
  display: inline-block;
}

.title
{
  font-family: Raleway, sans-serif;  
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: -0.3px;
  color: #444444;
}

.btn-continue
{  
  width: 155px;
  margin-right: 9px;
}

.comment-container
{
  padding-right: 60px;
  padding-left: 60px;
}

.comment-container p
{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.24px;
  color: #444444;
  text-align: center;
}

.button-container
{
  border-radius: 3px;
  border: solid 2px #2a8778;
  width: 100%;
  height: 100%;
}

.button-container img
{
  max-width: 36px;
  max-height: 36px;
}

.button-container label
{
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.24px;
  color: #2a8778;
  margin-top: 10px;
}

.button-container > div
{
  margin-top: 52px;
  text-align: center;
}

.campaign-item span
{
  width: 32px;
  height: 32px;
  border-width: 2px;
  border-color: #2a8778;
  border-style: solid;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2a8778;
  display: inline-block;
  vertical-align: inherit;
  padding: 3px;
}

.campaign-item
{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.16px;
  color: #515151;
  margin-bottom: 16px;
  opacity: 0.4;
}

.campaign-item-active
{
  opacity: 1 !important;
}

.type-container > div {
  width: 189px;
  height: 189px;
  padding: 8px;
}

.type-active > div
{
  background: #2a8778;
}

.type-active label
{
  color: white;
}

.option-container
{
  border-color: #2a8778;
  border-radius: 3px;
  border: solid 2px #2a8778;
  height: 310px;
  width: 279px;
  margin: 12px;
  position: relative;
}

.options-container
{
  margin-left: -16px !important;
  margin-right: -16px !important;
}

.option-title-container
{
  text-align: center;
  padding-bottom: 10px;
}

.option-title-container > span
{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  text-align: center;
  color: #515151;
}

.option-container  .fa
{
  font-size: 23px;
  color: #7b7b7b;
}

.mat-slide-toggle
{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.16px;
  color: #444444;
  margin-top: 4px;
}

.toggle-container
{
  display: flex;
  height: 30px;
}

.campaign-selector
{
  height: 43px;
}

.campaign-selector mat-form-field
{
  width: 100%;
}

.option-button-container
{
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.option-button-container button
{
  border-radius: 3px;
  border: solid 1px #979797;
  width: 100%;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.16px;
  text-align: center;
  color: #a8a8a8;
}

.result-container
{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #444444;
}

.mail-title-container
{

  text-align: center;
  padding-bottom: 22px;
}

.mail-title-container > span
{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  text-align: center;
  color: #515151;
}

.file-name-label
{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.16px;
  color: #515151;
}

.file-name
{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.16px;
  color: #515151;
}

.file-container
{
  margin-top: 3px;
}

.file-container > div
{
  width: 100%;
  height: 42px;
  background-color: #d8d8d8;
}

.file-container > div > img
{
  max-width:16px;
  max-height:16px;
  width: auto;
  height: auto;
  margin-top: 13px !important;
  display: inline-block;
}

.file-container span
{
  display: inline-block;
  margin-top: 10px;
}

.play-bar-container
{
  margin-bottom: 5px;
}

.toggles-container
{
  margin-top: 25px;
}

.bottom-panel
{
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.placeholder
{
  border-color: transparent !important;
}

.transfer-container
{
  border-color: #2a8778;
  border-radius: 3px;
  border: solid 2px #2a8778;
  width: 279px;
  margin: 12px;
  position: relative;
  min-height: 310px;
}

.transfer-container .fa
{
  font-size: 23px;
  color: #7b7b7b;
}

.transfer-container .toggles-container
{
  margin-top: 52px;
}

.label-container
{  
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
  display: flex;
  height: 10px;
}

.label-container span
{
  margin-top: 7px;
}

.label-container mat-form-field
{
  height: 38px;
}

.do-not-call-container .toggles-container
{
  margin-top: 20px !important;
}

.toggles-container p:not(.fa)
{  
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.16px;
  color: #444444;
}

.do-not-call-container .toggle-container
{
  height: auto;
}

.do-not-call-container .toggle-container p
{
  margin-top: 3px;
  margin-left: 8px;
}

.do-not-call-container .form-container
{
  margin-bottom: 35px;
}

.select-contact-list-container span
{
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}

.seperator
{
  margin-top: 16px;
  margin-bottom: 16px;
  height: calc(100% - 32px); 
  width: 1px; 
  background-color: #979797;
  position: absolute;
  top: 0px;
  right: 0px;
}

.select-contact-list-container mat-slide-toggle
{
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  color: #444444;
}

.upload-button-container
{
}

.upload-button-container button
{
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: center;
  color: #515151;

    height: 36px;

  border: solid 1px #979797;

  background-color: #ffffff;
}

.selected-contact-list-container .file-label
{
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}

.selected-contact-list-container img
{
  max-width: 20px;
  max-height: 20px;
  margin-bottom: 9px;
}

.file-name
{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #515151;
}

.label
{
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #515151;
}

.settings-container .title
{
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #444444;
}

.settings-container label
{
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}

.settings-container mat-form-field
{
  width: 100px;
}

.settings-container i
{  
  font-size: 23px;
  color: #7b7b7b;
}

.flex-container
{
  display: flex;
}

.settings-container mat-error
{
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b71515;
}

form
{
  margin-top: -10px;
}

label
{
  margin-top: 10px;
}

.settings-container .subtitle
{
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.16px;
  text-align: center;
  color: #444444;
}

.settings-container .toggle-container p
{
  margin-top: 6px;
  margin-left: 10px;
}

.settings-container .dropdown
{
  margin-top: -15px;
}

.scheduling-container h4
{
  font-family: OpenSans, sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.24px;
  text-align: center;
  color: #444444;
  padding-right: 30px;
  padding-left: 30px;
}

.scheduling-container h5
{  
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #444444;
}

.scheduling-container .toggle-container p
{
  margin-top: 8px;
  margin-left: 8px;

  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  color: #444444;
}

.restrictions-container
{
  margin-left: 23px;
  margin-top: 15px;
}

.restrictions-container p
{
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  color: #444444;
}

.toggle-container label
{
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}

.timezone-container
{
  width: 50%;
}

.start-date-container
{
  margin-top: 20px;
}

.start-date-container div
{
  padding-left: 0px;
}

.congrats-container
{
  width: 469px;
  height: 133px;
  border-radius: 2px;
  border: solid 0 #9e9e9e;
  background-color: #ffffff;

  border-top-width: 4px;
  border-top-color: #2a8778;
  border-top-style: solid;
}

.congrats-container .title-bar
{
  display: flex;
}

.congrats-container .title-bar img
{
  width: 40px;
  height: 40px;
}

.congrats-container .title-bar span
{  
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: -0.3px;
  color: #444444;
  margin-top: 7px;
  margin-left: 12px;
}

.congrats-container p
{  
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #444444;
  text-align: center;
}

.cpm-header-container
{
  position: relative;
}

.cpm-header-container span
{
  position: absolute;
  right: -20px;
}

.name-header-container
{
  padding-left: 32px;
}

.title-container
{
  padding-left: 30px;
}

.title-container img
{
  position: absolute;
  left: 36px;
}

.title-container span
{
  position: absolute;
  left: 36px;
}

.button-danger
{
  border: solid 1px #9b0215 !important;
  color: #9b0215 !important;
}