<div class="add-funds-container">
	<div class="w-100 close-container">
		<img src="assets/close.svg" class="float-right" (click)="onClose()">
	</div>
	<div class="title-container">
		<h2>
			SEND TEST CALL
		</h2>
	</div>
	<div class="content-container">
		<p>
			Enter the number you would like to receive the test call
		</p>
		<div class="input-container w-100 justify-content-center mt-4">
			<div class="mx-auto position-relative">
				<div class="ml-3">
					<mat-label class="float-left">Test Phone Number</mat-label>
				</div>
				<div>
					<mat-form-field>
					  <input matInput type="text">
					</mat-form-field>
				</div>
			</div>
		</div>
	</div>

	<div class="btn-container text-center mb-4 mt-1">
		<button class="btn-not-now m-2" (click)="onSpeech()">
			CANCEL
		</button>

		<button class="btn-add-funds m-2" (click)="onUploadAudio()">
			SEND TEST CALL
		</button>
	</div>
</div>