<div class="search-container mt-n4 mx-n4">
	<div class="row mx-0">
		<div class="col-md-6 offset-md-3">
			<span class="material-icons">search</span>
			<mat-form-field class="w-100 mb-n3">
				<mat-label class="active"></mat-label>
	        	<input matInput type="text" placeholder="Contact Search">
	        </mat-form-field>
		</div>

		<div class="col-md-3">
			<button class="btn button-green float-right">
				NEW MESSAGE
			</button>
		</div>
	</div>
</div>

<div class="message-list-container mt-4 pt-2">
	<div class="stage-container m-3 row">
		<div class="w-100">
			<h5>
				Contacts
			</h5>

			<button class="btn button-green float-right">
				ADD CONTACT
			</button>
		</div>
	</div>
	
	<div class="message-list mt-2">
		<div *ngFor="let contact of contact_list; index as i ">
			<div class="{{i%2==1?'highlight':''}}">
				<div class="row ml-0 mr-0">
					<div class="col row mr-3" (click)="onMessages()">
						<div>
							<span *ngIf="contact_filter!=2" class="material-icons ml-1 mt-3 {{contact.favorite == true?'black-fill':''}}">{{contact.favorite == true?'star':'star_border'}}
							</span>
						</div>

						<div class="col-2">
							<p class="item-name mt-3 mb-0">
								Steve Smith
							</p>
						</div>

						<div class="col">
							<p class="item-company-name pt-3">
								Company Name
							</p>
						</div>

						<div class="col">
							<p class="item-company-name pt-3 text-center">
								stevesmith@gmail.com
							</p>
						</div>

						<div class="col">
							<p class="item-company-name pt-3 text-right">
								(317) 555-5555
							</p>
						</div>
					</div>


					<div class="menu-icon-container description-container">
						<span class="material-icons mt-auto mb-auto mr-3">more_vert</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>