.dialog-title
{ 
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #515151;
}

.text-container
{
  background-color: rgba(228, 228, 228, 0.4);
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: #9e9e9e;
}

h5
{
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}

.text-container textarea
{	
  font-family: Roboto, sans-serif;  
  background-color: transparent;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.time-span
{
  position: absolute;
  right: 0px;
  top: 0px;
  font-family: Roboto, sans-serif;  
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}

.contact-name
{
  font-family: Roboto, sans-serif;  
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}

.company-name
{
  font-family: Roboto, sans-serif;  
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}

.description
{
  font-family: Roboto, sans-serif;  
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}

.material-icons
{
  color: #515151;
}

.text-length
{  
  font-family: Roboto, sans-serif;  
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #777777;
}

input
{ 
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}

.search-container mat-form-field
{
  margin-top: -8px !important;
}

.search-container button
{
  width: 145px;
}

.search-container span
{
  position: absolute;
  top: 7px;
  left: 4px;
}

.search-container input
{
  padding-left: 30px;
}