<div>
	<div class="w-100 close-container">
		<img src="assets/close.svg" class="float-right">
	</div>

	<div>
		<h1 class="dialog-title text-center">
			New Message
		</h1>
	</div>

	<div class="position-relative mt-5">
		<span class="contact-name">
			Steve Smith
		</span>
		<br>
		<span class="company-name">
			Company Name
		</span>

		<span class="time-span">
			9:36AM
		</span>
	</div>

	<div class="mt-3">
		<p class="description">
			I am interested in renewing my season tickets. Please let me know if there is a discount.
		</p>
	</div>

	<div>		
		<div class="mt-3">
			<p class="description">
				10/5/2019 9:36AM
			</p>
		</div>
		<div class="mt-3">
			<p class="description">
				I am interested in renewing my season tickets. Please let me know if there is a discount.
			</p>
		</div>
	</div>

	<div>		
		<div class="mt-3">
			<p class="description">
				10/5/2019 9:36AM
			</p>
		</div>
		<div class="mt-3">
			<p class="description">
				I am interested in renewing my season tickets. Please let me know if there is a discount.
			</p>
		</div>
	</div>

	<div>		
		<div class="mt-3">
			<p class="description">
				10/5/2019 9:36AM
			</p>
		</div>
		<div class="mt-3">
			<p class="description">
				I am interested in renewing my season tickets. Please let me know if there is a discount.
			</p>
		</div>
	</div>

	<div>		
		<div class="mt-3">
			<p class="description">
				10/5/2019 9:36AM
			</p>
		</div>
		<div class="mt-3">
			<p class="description">
				I am interested in renewing my season tickets. Please let me know if there is a discount.
			</p>
		</div>
	</div>


	<div class="text-container pt-2 mt-4">
		<h5 class="ml-2">
			Message
		</h5>
		<textarea class="w-100 p-2">This is an example message to be sent. It can wrap to the next line if needed.
		</textarea>
	</div>

	<div class="mt-2">
		<span class="text-length">
			(40/140)
		</span>
		<span class="material-icons float-right">image</span>
	</div>

	<div class="row px-2 mt-4">
		<div class="col-md-6 px-2">
			<button class="btn button-transparent w-100 mt-1 mb-1">
				CANCEL
			</button>
		</div>
		<div class="col-md-6 px-2">
			<button class="btn button-green w-100 mt-1 mb-1">
				ADD USER
			</button>
		</div>
	</div>
</div>