<div class="page-container">
  <section>
    <div class="title-bar clearfix p-4">
      <h2 class="title float-left">
        RECENT CAMPAIGNS
      </h2>
      <button class="btn btn-custom-warning float-right" *ngIf="nStep != 0" (click)="next()">
        CREATE CAMPAIGN
      </button>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 text-center p-4" [hidden]="nStep == 0">
            <div class="chart-container col-8">
              <div class="chart">
                <canvas
                  baseChart
                  #chartContainer
                  [labels]="doughnutChartLabels"
                  [datasets]="doughnutChartData"
                  [chartType]="doughnutChartType"
                  [options]="doughnutOptions"
                >
                </canvas>
                <div class="chart-axis clearfix px-2">
                  <span class="float-left" style="width: 20%">0</span>
                  <span class="float-right" style="width: 20%">100%</span>
                </div>
                <div class="chart-divider"></div>
              </div>
              <div class="row chart-stat mt-1">
                <div class="col text-right">
                  <div class="chart-stat-title">
                    <span class="oval"></span>1m 30s
                  </div>
                  <div class="chart-stat-content">Average Live Answer<br>Listen Duration</div>
                </div>
                <div class="chart-stat-divider"></div>
                <div class="col text-left">
                  <div class="chart-stat-title"><span class="oval"></span>70%</div>
                  <div class="chart-stat-content pl-3">% of Total Call</div>
                </div>
              </div>
              <div class="campaign-selector">
                <mat-form-field style="width: 100%;">
                  <mat-label>Select Campaign</mat-label>
                  <mat-select placeholder="">
                    <mat-option>Test</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
        </div>
        <div class="col-lg-6 offset-lg-0 p-4">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div>
                <img src="assets/butler_logo.png">
              </div>
              <div class="p-4">
                <div class="company-title">Matt Erich</div>
                <div class="company-prop">Company: <span class="company-prop-val">Some Company</span></div>
                <div class="company-prop">Funds Available: <span class="company-prop-val">$920.25</span></div>
                <div class="company-prop">Estimated Call Left: <span class="company-prop-val">10,250</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 p-4" *ngIf="nStep == 0">
          <div class="container-fluid pl-sm-0 pl-md-2">

              <h2 class="title">
                MY CALL CAMPAIGNS
              </h2>

              <div class="empty-container mt-4 pt-4 pb-4 mr-n3">
                <h5 class="subtitle">
                  You do not have any Call Campaigns
                </h5>
                <button class="btn btn-custom-warning mt-3" (click)="next()">
                  CREATE CAMPAIGN
                </button>
              </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="pt-4 {{nStep == 3?'mt-4':''}}" *ngIf="nStep != 0">
    <div class="{{nStep==0?'':'title-bar'}} px-4 clearfix">
      <h2 class="title float-left">
        MY CALL CAMPAIGNS
      </h2>
      <button class="btn btn-custom-success float-right">
        NEW CALL CAMPAIGN
      </button>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-0">
          <table class="table table-borderless table-striped">
            <thead>
            <tr>
              <th style="width: 13%">Name</th>
              <th style="width: 10%" class="text-center">Date Sent</th>
              <th style="width: 12%" class="text-center">Total Contacts</th>
              <th style="width: 13%" class="text-center">Total Dialed</th>
              <th style="width: 13%" class="text-center">Live</th>
              <th style="width: 13%" class="text-center">Voicemail</th>
              <th style="width: 13%" class="text-center">Transfer</th>
              <th style="width: 13%" class="text-center">Avg. Listening<br>Duration</th>
              <th style="width: 36px" class="text-left"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaign of callCampaigns">
              <td>{{campaign.name}}</td>
              <td class="text-center">{{campaign.dateSent}}</td>
              <td class="text-center">{{campaign.totalContacts|number}}</td>
              <td class="text-center">{{campaign.totalDialed|number}}</td>
              <td class="text-center">{{campaign.live|number}}</td>
              <td class="text-center">{{campaign.voicemail|number}}</td>
              <td class="text-center">{{campaign.transfer|number}}</td>
              <td class="text-center">{{campaign.listeningDuration}}%</td>
              <td class="text-left">
                <span class="material-icons menu" [matMenuTriggerFor]="menu">more_vert</span>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="onRerun()">Rerun Campaign</button>
                  <button mat-menu-item (click)="onTestCall()">Send Test Call</button>
                  <button mat-menu-item>View Campaign</button>
                  <button mat-menu-item>Delete</button>
                </mat-menu>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="{{nStep == 3?'mt-4':''}}" *ngIf="nStep != 0 && nStep != 1">
    <div class="title-bar p-4 clearfix">
      <h2 class="title float-left">
        MY TEXT CAMPAIGNS
      </h2>
      <button class="btn btn-custom-success float-right">
        NEW TEXT CAMPAIGN
      </button>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-0">
          <table class="table table-borderless table-striped">
            <thead>
            <tr>
              <th style="width: 65%">Name</th>
              <th style="width: 15%" class="text-center">Date Sent</th>
              <th style="width: 15%" class="text-center">Completed</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaign of textCampaigns">
              <td>{{campaign.name}}</td>
              <td class="text-center">{{campaign.dateSent}}</td>
              <td class="text-center">{{campaign.completed ? "Y" : "N"}}</td>
              <td class="text-right"><span class="material-icons">more_vert</span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="{{nStep == 3?'mt-2 bottom-container':''}}">
    <div class="container-fluid">
      <div class="row p-0 pb-4">

        <div class="col-md col-sm-12 mt-3 p-0 bg-white {{nStep == 3?'pt-4':''}}">
          <div class="{{nStep==0?'':'title-bar'}} px-4">
            <h2 class="title">
              MY SOUNDS
            </h2>
          </div>


          <div class="empty-container mx-4 pt-2 pb-3 mt-4" *ngIf="nStep == 0">
            <h5 class="subtitle mt-3">
              You have not uploaded a Sound
            </h5>
          </div>

          <table class="table table-borderless table-striped" *ngIf="nStep != 0">
            <thead>
            <tr>
              <th style="width: 70%">Name</th>
              <th class="text-center" style="width: 30%">Last Used</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sound of mySounds">
              <td>{{sound.name}}</td>
              <td class="text-center">{{sound.lastUsed}}</td>
              <td class="text-right"><span class="material-icons">more_vert</span></td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="ml-md-4"></div>

        <div class="col-md mt-3 col-sm-12 p-0 bg-white {{nStep == 3?'pt-4':''}}">
          <div class="{{nStep==0?'':'title-bar'}} px-4">
            <h2 class="title">
              MY CONTACT LISTS
            </h2>
          </div>

          <div class="empty-container mx-4 pt-2 pb-3 mt-4" *ngIf="nStep == 0">
            <h5 class="subtitle mt-3">
              You have not uploaded a Contact List
            </h5>
          </div>


          <table class="table table-borderless table-striped" *ngIf="nStep != 0">
            <thead>
            <tr>
              <th style="width: 70%">Name</th>
              <th style="width: 20%" class="text-center">Total</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contact of myContactList">
              <td>{{contact.name}}</td>
              <td class="text-center">{{contact.total}}</td>
              <td class="text-right"><span class="material-icons">more_vert</span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

</div>
