.btn {
  font-size: 14px;
  font-weight: 600;
  padding: 6px 32px;
}

.btn-custom-success {
  background-color: #27937a;
  color: white;
}

.btn-custom-warning {
  background-color: #f57124;
  color: white;
}

.chart-axis {
  color: #232425;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  opacity: 0.5;
}

.chart-divider {
  height: 1px;
  opacity: 0.2;
  border-bottom: solid 1px #232425;
}

.chart-container {
  position: relative;
}
.campaign-selector {
  position: absolute;
  left: calc(50% + 110px);
  top: 30px;
  width: 50%;
}

.chart {
  width: 220px;
  display: inline-block;
}

.chart-stat-divider {
  opacity: 0.2;
  border: solid 1px #232425;
  width: 1px;
}


.table thead th {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6f6f6f;
}

.company-title {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  line-height: 1.72;
  letter-spacing: -0.16px;
  color: #444444;
}

.company-prop {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  color: #5f5f5f;
}

.company-prop-val {
  font-weight: 600;
  color: #444444;
}
.chart-stat-title {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #232425;
}

.chart-stat-content {
  opacity: 0.5;
  font-size: 13px;
  color: #232425;
}

.oval {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1.2rem;
  line-height: 1.5rem;
}

.oval:before {
  display: block;
  content: "";
  position: absolute;
  top: 0.5rem;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #e86820;
}

.page-container {
  background-color: transparent;
}

section
{
  background-color: white;
}

.subtitle
{
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}

.empty-container
{
  border: solid 1px #d2d2d2;
  background-color: #f1f1f1;
  text-align: center;
}

.bottom-container
{
  background-color: transparent;
}

.title-bar
{
  padding-left: 12px !important;
}

.menu
{
  cursor: pointer;
}

.mat-menu-item
{
  width: 200px;
  outline: none;
  height: 30px;  
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #515151;
}